* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  --primary-color: #484848;
  --secondary-color: #B0B0B0;
  --orange: #FF6000;
}

body {
  font-family: "Roboto", 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90%;
  margin: 0 auto;
  color: var(--primary-color);
}